@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

.str-chat__channel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #1c3f50, #946b14);
  height: 100%;
}

.str-chat__container {
  max-width: 1200px;
  width: 90%;
  height: 95% !important;
  margin: 0 auto !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.str-chat__list {
  background: linear-gradient(to bottom, #2c3e50, #4b6cb7);
  padding: 12px;
  border-radius: 8px;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #ddd;
}
